<script>
let currentRound = null;

async function checkRound() {
    let res = await fetch("/state");
    let data = await res.json();

    // erste Runde speichern
    if (currentRound === null) {
        currentRound = data.round_id;
        return;
    }

    // wenn neue Runde → entsperren
    if (data.round_id !== currentRound) {
        currentRound = data.round_id;

        document.getElementById("buttons").classList.remove("locked");
        document.getElementById("msg").innerText = "";
    }
}

// alle 1 Sekunde prüfen
setInterval(checkRound, 1000);
</script>
